<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">CONSULTAR USUARIO</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                        <h5 class="title is-5">Usuarios registrados </h5>


                        <div class="columns ">
                            <div class="column is-3 is-offset-8">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Buscar" >
                                </div>

                            </div>

                        </div>
                        <div class="columns">
                            <table class="table display">
                                <thead class="is-bordered">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Usuario</th>
                                    <th>Estado</th>
                                    <th>Operaciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Anabel chew</td>
                                    <td>anable86</td>
                                    <td>
                                        <span class="tag is-success">Activo</span>
                                        <span class="tag is-danger">Inactivo</span>
                                    </td>
                                    <td>
                                        <a class="button is-warning is-small" th:href="@{/usuarios/editar}">
                                            <i class="fas fa-eye mr-1"></i>Visualizar
                                        </a>

                                        <a class="button is-success is-small" data-target="Activar" onclick="Activar()">
                                            <i class="far fa-save mr-1"></i>Activar
                                        </a>

                                        <button class="button is-danger is-small"  data-target="Desactivar" onclick="Desactivar()">
                                            <i class="fas fa-trash-alt mr-1"></i>Desactivar
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>
<div th:replace="configuraciones/dialogo-usuario/activar:: activar"></div>
<div th:replace="configuraciones/dialogo-usuario/desactivar:: desactivar"></div>


<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

<script src="/js/modal.js"></script>
<script type="text/javascript">

    function Activar() {

        //abrir modal
        openModal('activar');
    }

    function Desactivar() {

        //abrir modal
        openModal('desactivar');
    }


</script>

</body>
</html>