<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">GESTIONAR USUARIOS</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                        <h5 class="title is-5 my-6">Usuarios registrados </h5>


                        <div class="table-container">
                            <table class="table display" id="tbl-usuarios">
                                <thead class="is-bordered">
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Usuario</th>
                                    <th>Rol</th>
                                    <th>Estado</th>
                                    <th>Operaciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="i:${usuarios}">
                                    <td th:text="${i.id}"></td>
                                    <td th:text="${i.nombreCompleto}"></td>
                                    <td th:text="${i.user}"></td>
                                    <td th:text="${i.idRolDescripcion}"></td>
                                    <td>
                                        <span class="tag is-success" th:if="${i.estado eq 1}">ACTIVO</span>
                                        <span class="tag is-danger" th:if="${i.estado eq 0}">INACTIVO</span>
                                    </td>
                                    <td>
                                        <button class="button is-warning is-small" th:href="@{/usuarios/editar}">
                                            <i class="fas fa-eye mr-1"></i>Visualizar
                                        </button>

                                        <button class="button is-success is-small btn-activar" th:data-id="${i.id}"
                                                th:if="${i.estado eq 0}">
                                            <i class="far fa-save mr-1"></i>Activar
                                        </button>

                                        <button class="button is-danger is-small btn-desactivar" th:data-id="${i.id}"
                                                th:if="${i.estado eq 1}">
                                            <i class="fas fa-trash-alt mr-1"></i>Desactivar
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>
<div th:replace="configuraciones/dialogo-usuario/activar:: modal-activar"></div>
<div th:replace="configuraciones/dialogo-usuario/desactivar:: modal-desactivar"></div>


<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

<script src="/js/modal.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/bulma-toast.min.js"></script>
<script src="/js/utilidades.js"></script>
<script type="text/javascript">

    (function () {
        $('#tbl-usuarios').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron registros",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _TOTAL_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "order": []
        });

        $('.btn-activar').on('click', function () {
            $('#btn-confirmar-activar').attr('data-id', $(this).closest('tr').find('td').eq(0).text());
            $('#modal-activar').addClass('is-active');
        });

        $('.btn-desactivar').on('click', function () {
            $('#btn-confirmar-desactivar').attr('data-id', $(this).closest('tr').find('td').eq(0).text());
            $('#modal-desactivar').addClass('is-active');
        });

        $('#btn-confirmar-activar').on('click', function () {
            let id = $(this).attr('data-id');
            activarUsuario(id);
        });

        $('#btn-confirmar-desactivar').on('click', function () {
            let id = $(this).attr('data-id');
            desactivarUsuario(id);
        });

        function desactivarUsuario(id) {
            $.ajax({
                url: '/usuarios/' + id,
                type: 'DELETE',
                dataType: 'json',
                success: function (data) {

                    //si el code es 1
                    if (data.code === 1) {

                        //guardar mensaje de exito en el local storage
                        localStorage.setItem('messageSuccess', data.message);
                        location.reload();
                    }
                    //si el code es 0
                    else if (data.code === 0) {
                        showMessageError(data.message);
                        //recorrer los errores, concatenarlos
                        let errores = '';
                        $.each(data.errors, function (i, error) {
                            errores += error + '<br>';
                        });
                        //mostrar errores
                        showMessageError(errores);
                    }

                },
                error: function (xhr, status, error) {
                    showMessageError('Se produjo un error en el servidor ' + xhr.responseText);
                }
            });
        }

        function activarUsuario(id) {
            $.ajax({
                url: '/usuarios/' + id,
                type: 'PUT',
                dataType: 'json',
                success: function (data) {

                    //si el code es 1
                    if (data.code === 1) {

                        //guardar mensaje de exito en el local storage
                        localStorage.setItem('messageSuccess', data.message);
                        location.reload();
                    }
                    //si el code es 0
                    else if (data.code === 0) {
                        showMessageError(data.message);
                        //recorrer los errores, concatenarlos
                        let errores = '';
                        $.each(data.errors, function (i, error) {
                            errores += error + '<br>';
                        });
                        //mostrar errores
                        showMessageError(errores);
                    }

                },
                error: function (xhr, status, error) {
                    showMessageError('Se produjo un error en el servidor ' + xhr.responseText);
                }
            });
        }

    })();

</script>
<script src="/js/show-message-localStorage.js"></script>

</body>
</html>