<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">GESTIONAR CICLO</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                        <div class="columns">
                            <div class="column is-6">
                                <div class="card">
                                    <header class="card-header has-background-warning">
                                        <div class="card-content">
                                            <p class="title is-5">CICLO ACTUAL</p>
                                            <p class="subtitle is-6" th:value="${cicloActual.anio}">2022</p>
                                        </div>
                                    </header>

                                    <div class="card-content">

                                        <div class="columns is-multiline">
                                            <div class="column is-5 py-0">
                                                <p class="title is-6 is-italic ">Apertura:</p>
                                            </div>
                                            <div class="column is-7 py-0">
                                                <p class="subtitle is-6 is-italic "
                                                   th:text="${#temporals.format(cicloActual.fechaApertura, 'dd/MM/yyyy')}">
                                                    lorem ipsum dolor sit amet</p>
                                            </div>
                                            <div class="column is-5 py-0">
                                                <p class="title is-6 is-italic ">Días asistencia:</p>
                                            </div>
                                            <div class="column is-7 py-0">
                                                <p class="subtitle is-6 is-italic">[[${cicloActual.diasBaseAsistencia}]]
                                                    días</p>
                                            </div>
                                            <div class="column is-5 py-0">
                                                <p class="title is-6 is-italic ">Bimestre actual:</p>
                                            </div>
                                            <div class="column is-7 py-0">
                                                <p class="subtitle is-6 is-italic"
                                                   th:text="${cicloActual.descripcionBimestreActual}">bimestre</p>
                                            </div>
                                        </div>

                                        <hr class="dropdown-divider">

                                        <div class="buttons">

                                            <button class="button is-info is-small" id="btn-modal-ciclos-anteriores">
                                                <i class="fas fa-angle-double-left mr-1"></i>Ciclos anteriores
                                            </button>
                                            <button class="button is-danger is-small">
                                                <i class="fas fa-window-close mr-1"></i>Cerrar ciclo
                                            </button>
                                            <button th:if="${cicloActual.idBimestreActual ne null}"
                                                    class="button is-small is-warning"
                                                    id="btn-cerrar-bimestre"
                                                    th:data-id-bimestre="${cicloActual.idBimestreActual}">
                                                <i class="fas fa-window-close mr-1"></i>Finalizar bimestre
                                            </button>
                                            <button class="button is-small is-success">
                                                <i class="fas fa-book mr-1"></i> Aperturar
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="column is-5 is-offset-1" th:if="${cicloActual.idBimestreActual eq null}">
                                <button type="button" class="button is-info is-large is-responsive"
                                        data-target="aperturar-bimestre" id="btn-aperturar-bimestre">
                                    <i class="fas fa-book mr-1"></i>APERTURAR BIMESTRE
                                </button>
                            </div>

                        </div>
                        <h5 class="title is-5 my-6">Historial de bimestres</h5>
                        <div class="table-container">
                            <table id="tbl-historial-bimestres" class="table display" th:if="${not bimestres.isEmpty()}">
                                <thead class="is-narrow">
                                <tr>
                                    <th>#</th>
                                    <th>Bimestre</th>
                                    <th>Ciclo</th>
                                    <th>Puntos actividades</th>
                                    <th>Puntos actitudinales</th>
                                    <th>Puntos evaluaciones</th>
                                    <th>Apertura</th>
                                    <th>Cierre</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="i : ${bimestres}">
                                    <td th:text="*{i.id}">1</td>
                                    <td th:text="*{i.descripcion}">bimestre</td>
                                    <td th:text="*{i.anioCiclo}">Ciclo 2021</td>
                                    <td th:text="*{i.puntosActividades}">12</td>
                                    <td th:text="*{i.puntosActitudinal}">40</td>
                                    <td th:text="*{i.puntosEvaluaciones}"> 60</td>
                                    <td th:text="*{#temporals.format(i.fechaApertura, 'dd/MM/yyyy')}">15/01/2022</td>
                                    <td th:text="*{#temporals.format(i.fechaCierre, 'dd/MM/yyyy')}">15/11/2022</td>
                                    <td>
                                        <span class="tag is-success" th:if="${i.estado eq 1}">APERTURADO</span>
                                        <span class="tag is-danger" th:if="${i.estado eq 2}">CERRADO</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="has-text-danger has-text-centered" th:if="${bimestres.isEmpty()}">
                                ** Aún no hay ningún historial de bimestres **</p>
                        </div>

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>

<div th:replace="configuraciones/dialogo-bimestre/aperturar-bimestre::aperturar-bimestre"></div>
<div th:replace="configuraciones/dialogo-ciclo/aperturar-ciclo::aperturar-ciclo"></div>
<div th:replace="configuraciones/dialogo-ciclo/ciclos-anteriores::ciclo-anterior"></div>
<!--modal confirmacion-->
<div th:replace="configuraciones/dialogo-ciclo/confirmacion-ciclo::confirmar-ciclo"></div>
<div th:replace="configuraciones/dialogo-bimestre/confirmar-bimestre::confirmar-bimestre"></div>

<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

<script src="/js/modal.js"></script>
<script src="/js/utilidades.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/gestionar-ciclo.js"></script>
<script src="/js/show-message-localStorage.js"></script>

</body>
</html>