<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">


            <div class="card mb-4">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">GENERAR REPORTE ACTITUDINAL</h4>
                        <hr class="dropdown-divider mb-6">

                        <form th:action="@{/reportes/actitudinal}" method="get" id="form-parametros">
                            <div class="columns">
                                <div class="column is-2 is-offset-3">
                                    <label>Código alumno:</label>
                                    <div class="control">
                                        <input class="input is-small" type="text" name="codAlumno">
                                    </div>
                                </div>
                                <div class="column is-2">
                                    <label>Bimestre:</label>
                                    <div class="control">
                                        <div class="select is-small is-fullwidth">
                                            <select name="idBimestre">
                                                <option disabled selected>- Seleccione -</option>
                                                <option th:each="bimestre : ${bimestres}" th:value="${bimestre.id}"
                                                        th:text="${bimestre.descripcion}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-flex is-align-items-end">
                                    <button class="button is-info is-small" title="Consultar alumnos"
                                            type="submit">
                                        <i class="fas fa-search mr-1"></i>Consultar
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="card mb-4" th:if="${mensaje}">
                <div class="card-content">
                    <div class="content">
                        <section class="section is-medium">
                            <figure class="image is-128x128" style="margin: auto">
                                <img th:src="${'/img/undraw_No_data.png'}" alt="No hay datos">
                            </figure>
                            <p class="subtitle has-text-centered" th:text="${mensaje}">
                            </p>
                        </section>
                    </div>
                </div>
            </div>

            <!-- ENCABEZADO -->
            <div class="card mb-4 is-shadowless" id="encabezado" th:if="${reporte ne null}">
                <div class="card-content">
                    <div class="content">
                        <div class="is-flex is-justify-content-center is-flex-direction-row">
                            <figure class="image is-96x96">
                                <img th:src="${'data:image/png;base64,'+logoBase64}" alt="logo institucion">
                            </figure>
                            <div class="has-text-centered">
                                <p class="title is-5 pb-2">REPORTE ACTITUDINAL</p>
                                <p class="subtitle is-6">
                                    [[${institucion.nombre}]]
                                    <br>
                                    [[${institucion.direccion}]]
                                    <br>
                                    [[${institucion.codigo}]]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 is-shadowless" id="datos-alumno" th:if="${reporte ne null}">
                <header class="card-header is-shadowless has-background-warning">
                    <p class="card-header-title is-size-6">
                        DATOS DEL ALUMNO
                    </p>
                </header>

                <div class="card-content">
                    <table class="table is-fullwidth is-narrow">
                        <tbody>
                        <tr>
                            <td class="is-size-7 title">Nombre:</td>
                            <td class="is-size-7 is-uppercase" th:text="${reporte.nombreAlumno}"></td>
                        </tr>
                        <tr>
                            <td class="is-size-7 title">Apellido:</td>
                            <td class="is-size-7 is-uppercase" th:text="${reporte.apellidoAlumno}"></td>
                        </tr>
                        <tr>
                            <td class="is-size-7 title">Código:</td>
                            <td class="is-size-7 is-uppercase" th:text="${reporte.codigoAlumno}"></td>
                        </tr>
                        <tr>
                            <td class="is-size-7 title">Dirección:</td>
                            <td class="is-size-7 is-uppercase" th:text="${reporte.direccionAlumno}"></td>
                        </tr>
                        <tr>
                            <td class="is-size-7 title">Grado:</td>
                            <td class="is-size-7 is-uppercase" th:text="${reporte.gradoSeccionAlumno}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="card mb-4 is-shadowless" th:if="${reporte ne null}">

                <header class="card-header is-shadowless has-background-warning">
                    <p class="card-header-title is-size-6">
                        DETALLE ACTITUDINAL
                    </p>
                </header>

                <div class="card-content">
                    <div class="table-container" th:if="${true}">
                        <table id="tbl-actitudinal" class="table display" style="width:100%">
                            <thead class="is-narrow">
                            <tr>
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <th>Materia</th>
                                <th>Puntos restados (-)</th>
                                <th>Puntos sumados (+)</th>
                                <th>Puntos actuales</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="i: ${reporte.detalles}">
                                <td th:text="*{i.descripcion}"></td>
                                <td th:text="*{#temporals.format(i.fecha, 'dd/MM/yyyy')}"></td>
                                <td th:text="*{i.materia}"></td>
                                <td th:text="${#numbers.formatDecimal(i.puntosRestados, 0, 2)}">100</td>
                                <td th:text="${#numbers.formatDecimal(i.puntosSumados, 0, 2)}">100</td>
                                <td th:text="${#numbers.formatDecimal(i.puntosActuales, 0, 2)}">100</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>


<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>
<!-- datatables -->
<script type="text/javascript" src="/js/datatables.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript">

    //function wrapper
    (function () {


        $('#tbl-actitudinal').DataTable({
            lengthMenu: [25], language: {
                lengthMenu: "Mostrar _MENU_ registros",
                search: "Buscar en todos los campos: _INPUT_",
                emptyTable: "No hay registros para mostrar",
                sZeroRecords: "No se encontron resultados",
                paginate: {
                    previous: "Página anterior", next: "Página siguiente"
                },
                info: "Mostrando _START_ al _END_ de _TOTAL_ registros",
                infoEmpty: "_TOTAL_ registros",
            },
            order: [],
            dom: 'Brtip',
            buttons: [
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel mr-1"></i>Exportar a Excel',
                    title: 'REPORTE ACTITUDINAL',
                    sheetName: 'ACTITUDINAL',
                    className: 'button is-success',
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print mr-1"></i>Imprimir',
                    className: 'button is-info',
                    title: '',
                    customize: function (win) {

                        var last = null;
                        var current = null;
                        var bod = [];

                        var css = '@page { size: landscape; }',
                            head = win.document.head || win.document.getElementsByTagName('head')[0],
                            style = win.document.createElement('style');

                        style.type = 'text/css';
                        style.media = 'print';

                        if (style.styleSheet) {
                            style.styleSheet.cssText = css;
                        } else {
                            style.appendChild(win.document.createTextNode(css));
                        }

                        head.appendChild(style);

                        $(win.document.body).prepend(
                            '<p class="card-header-title is-size-6 mb-6">DETALLE ACTITUDINAL</p>'
                        );

                        $(win.document.body).prepend(
                            $('#datos-alumno').html()
                        );

                        $(win.document.body).prepend(
                            $('#encabezado').html()
                        );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]
        });


        $('#form-parametros').validate({
            errorClass: 'is-danger',
            validClass: 'is-success',
            errorElement: 'p',
            rules: {
                codAlumno: {
                    required: true,
                },
                idBimestre: {
                    required: true
                }
            },
            messages: {
                codAlumno: {
                    required: 'El código es requerido',
                },
                idBimestre: {
                    required: "Seleccione un bimestre"
                }
            },
            errorPlacement: function (error, element) {
                // Add the `help` class to the error element
                error.addClass("help");
                error.insertAfter(element);
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

    })();
</script>

</body>
</html>