<div class="modal" id="modal-grado" xmlns:th="http://www.thymeleaf.org" th:fragment="cambiar-grado">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <h4 class="modal-card-title title has-text-centered is-4">CAMBIAR GRADO ALUMNO</h4>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column is-12">
                    <label>* Grado y sección</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="select" id="gradoSeccionReasignar">
                                <option value="">SIN ASIGNACIÓN</option>
                            </select>
                            <input type="hidden" id="idAlumnoReasignar">
                        </div>
                    </div>
                </div>

            </div>


        </section>
        <footer class="modal-card-foot">
            <button class="button  is-success" type="button" id="btn-guardar-reasignacion" onclick="reasignarAlumno()">Guardar</button>
            <button class="button  is-danger" type="button">Cancelar</button>
        </footer>
    </div>
</div>l>