<!-- MOdal -->
<div class="modal" id="modal-expediente" xmlns:th="http://www.thymeleaf.org" th:fragment="expediente-alumno">
    <div class="modal-background"></div>
    <form id="modal-checklist-expediente">
        <div class="modal-card">

            <header class="modal-card-head">
                <h4 class="modal-card-title title has-text-centered is-4">CONSULTAR EXPEDIENTE ALUMNO</h4>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">

                <div class="content">

                    <input type="hidden" id="idAlumno" name="id">

                        <div class="columns is-multiline" id="items-documentos">
                            <!-- CONTENIDO DE LOS DOCUMENTOS -->
                        </div>

                    <hr class="dropdown-divider">

                    <div class="columns">
                        <div class="column is-6 ">
                            <label class="label">¿El expediente está completo?</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" id="expediente-si" name="expediente" value="1">
                                    Si
                                </label>
                                <label class="radio">
                                    <input type="radio" id="expediente-no" name="expediente" value="0">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12 is-fullwidth">
                            <label>Observación</label>
                            <div class="control">
                                <input class="input" type="text" id="observacion" name="observacion">
                            </div>
                        </div>
                    </div>


                </div>

            </section>

            <footer class="modal-card-foot">
                <button class="button  is-success" type="submit" id="btn-guardar-checklist"> <i class="far fa-save mr-1"></i>Aceptar</button>
                <button class="button  is-danger" type="button"> <i class="fas fa-undo mr-1"></i>Cancelar</button>
            </footer>

        </div>
    </form>
</div>
