<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">EDITAR EVALUACIÓN</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                        <p class="subtitle is-5 has-text-danger">* indica un campo obligatorio</p>
                        <p class="subtitle is-5 ">Datos Evaluación</p>

                        <div class="columns">
                            <div class="column is-11">
                                <label> *Descripcón</label>
                                <div class="control">
                                    <input class="input" type="text" id="descripcion" required
                                           name="obser">
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label> *Fecha</label>
                                <div class="control">
                                    <input class="input" type="date" id="fecha" required
                                           name="obser">
                                </div>
                            </div>

                            <div class="column is-3">
                                <label> *Ponderación</label>
                                <div class="control">
                                    <input class="input" type="number" id="ponde" required
                                           name="obser">
                                </div>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <p class="subtitle is-5 ">Asignaciones</p>
                        <div class="columns">
                            <div class="column is-3">
                                <label>*Tipo</label>
                                <div class="control">
                                    <div class="select is-fullwidth ">
                                        <select name="select" id="tipo" required>
                                            <option>Examen corto</option>
                                            <option>Examen</option>
                                            <option>Laboratorio</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-7">
                                <label>*Materia</label>
                                <div class="control">
                                    <div class="select  is-fullwidth ">
                                        <select name="select" id="materia" required>
                                            <option>Matemáticas</option>
                                            <option>Sociales</option>
                                            <option>Ingles</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="columns">
                        <div class="column is-3 is-offset-3 ">
                            <button class="button  is-success is-large is-fullwidth" type="submit"
                                    id="btn-submit"  data-target="confirmar-plan" onclick="confirmar()">
                                <i class="fas fa-sync-alt"></i>Actualizar
                            </button>
                        </div>
                        <div class="column is-3 ">
                            <a th:href="@{evaluacion/consultar}" class="button  is-light is-large is-fullwidth" type="button">
                                <i class="fas fa-database mr-1"></i>Consultar
                            </a>
                        </div>
                    </div>

                    <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                </div>
            </div>
        </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>


<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>



</body>
</html>