<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">


                        <form id="form-editar-evaluacion">
                            <h4 class="title has-text-centered is-4">EDITAR EVALUACIÓN</h4>
                            <hr class="dropdown-divider">

                            <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                            <p class="subtitle is-5 has-text-danger">* indica un campo obligatorio</p>
                            <h5 class="subtitle is-5 my-6">Datos evaluación</h5>

                            <div class="columns">
                                <div class="column is-12">
                                    <label> *Descripción</label>
                                    <div class="control">
                                        <input class="input" type="text" required name="descripcion"
                                               placeholder="Escriba una descripción" th:value="${evaluacion.descripcion}">
                                        <input type="hidden" id="id-evaluacion" th:value="${evaluacion.id}">
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-3">
                                    <label> *Fecha</label>
                                    <div class="control">
                                        <input class="input" type="date" name="fecha" required
                                               th:value="${evaluacion.fecha}">
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label> *Ponderación</label>
                                    <div class="control">
                                        <input class="input" type="number" name="ponderacion" required
                                               placeholder="Puntos" th:value="${evaluacion.ponderacion}">
                                    </div>
                                </div>
                            </div>
                            <hr class="dropdown-divider">
                            <h5 class="subtitle is-5 my-6">Asignaciones</h5>
                            <div class="columns">
                                <div class="column is-3">
                                    <label>*Tipo evaluación</label>
                                    <div class="control">
                                        <div class="select is-fullwidth ">
                                            <select name="idTipoEvaluacionId" id="tipo-evaluacion" required>
                                                <option disabled selected>- Seleccione -</option>
                                                <option th:each="i : ${tipos}" th:value="${i.id}"
                                                        th:text="${i.descripcion}"
                                                        th:attrappend="selected=${i.id eq evaluacion.idTipoEvaluacionId ? 'selected' : ''}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-9">
                                    <label>*Materia</label>
                                    <div class="control">
                                        <div class="select  is-fullwidth ">
                                            <select name="idMateriaId" id="materia-evaluacion" required>
                                                <option disabled selected>- Seleccione -</option>
                                                <option th:each="i : ${materias}" th:value="${i.idMateria}"
                                                        th:attrappend="selected=${i.idMateria eq evaluacion.idMateriaId ? 'selected' : ''}">
                                                    [[${i.descripcionMateria}]] - ([[${i.descripcionGrado}]])
                                                </option>
                                            </select>
                                            <p class="help is-info">** Materias que usted tiene asignadas</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns mt-3">
                                <div class="column is-3 is-offset-3 ">
                                    <button class="button  is-success is-large is-fullwidth" type="submit">
                                        <i class="far fa-save mr-1"></i>Actualizar
                                    </button>
                                </div>
                                <div class="column is-3 ">
                                    <a class="button  is-light is-large is-fullwidth"
                                       th:href="@{/evaluacion/consultar}">
                                        <i class="fas fa-database mr-1"></i>Consultar
                                    </a>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>


<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>
<script src="/js/utilidades.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/editar-evaluacion.js"></script>

</body>
</html>