<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">CONSULTAR PLAN DE TRABAJO</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                        <h5 class="subtitle is-5 my-6">Consultar Planes de trabajo</h5>

                        <article class="message is-warning" th:if="${not gradosSinPlanTrabajoList.isEmpty()}">
                            <!-- recorrer la lista de grados sin plan de trabajo e imprimirlos -->
                            <div class="message-body">
                                <p>Los siguientes grados no tienen plan de trabajo:</p>
                                <ul>
                                    <li th:each="grado : ${gradosSinPlanTrabajoList}">
                                        <span th:text="${grado.descripcion}"></span>
                                    </li>
                                </ul>
                                <!-- link para crear plan de trabajo -->
                                <a th:href="@{/plan-trabajo/nuevo}" class="button is-warning is-small"><i
                                        class="fas fa-plus-circle mr-1"></i> Crear Plan de Trabajo</a>
                            </div>
                        </article>

                        <div class="columns" id="list-planes-trabajo">
                            <!-- recorrer la lista de planes de trabajo y mostrarlos en un card -->
                            <div class="column is-4" th:each="planTrabajo : ${planTrabajoList}">
                                <div class="card">
                                    <header class="card-header has-background-warning">
                                        <p class="card-header-title" th:text="${planTrabajo.idGradoDescripcion}"></p>
                                    </header>
                                    <div class="card-content">

                                        <section class="section">
                                            <hr class="dropdown-divider">
                                            <p class="has-text-centered" th:text="${planTrabajo.descripcion}"></p>
                                            <hr class="dropdown-divider">
                                        </section>


                                        <div class="buttons has-text-centered">
                                            <button class="button is-danger is-small"><i
                                                    class="fas fa-trash-alt mr-1"></i>Borrar
                                            </button>
                                            <button class="button is-info is-small btn-actividades"
                                                    th:data-id="${planTrabajo.id}"
                                                    th:data-id-grado="${planTrabajo.idGradoId}"><i
                                                    class="fas fa-tasks mr-1"></i>Actividades
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>
<div th:replace="actividades/dialogos-plan-trabajo/actividades::actividadad"></div>

<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

<script src="/js/modal.js"></script>
<script src="/js/utilidades.js"></script>
<script src="/js/consultar-plan-trabajo.js"></script>
</body>
</html>