<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">LIBROS REGISTRADOS</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                        <div class="columns">
                            <div class="column"><br>
                                <div class="buttons">
                                    <a type="submit" class="button is-info  is-responsive" th:href="@{/libros/nuevo}">
                                        <i class="fas fa-newspaper mr-1"></i>Añadir Nuevo
                                    </a>
                                </div>
                            </div>

                        </div>

                        <h5 class="title is-5 my-6" >Listado de libros</h5>
                        <hr class="dropdown-divider">


                            <table id="tbl-libros" class="table display" style="width: 100%">
                                <thead class="is-narrow">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Disponibilidad</th>
                                    <th>Operaciones</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="i: ${libros}">
                                    <td th:text="*{i.id}">1</td>
                                    <td th:text="*{i.nombre}">Principito</td>
                                    <td th:text="*{i.descripcion}">Libro del principe oscar</td>
                                    <td >

                                        <span class="tag is-danger"
                                              th:if="*{i.disponibilidad eq 2}">no disponible</span>
                                        <span class="tag is-success"
                                              th:if="*{i.disponibilidad eq 1}">disponible</span>
                                    </td>
                                    <td>
                                        <a class="button is-warning is-small" th:href="@{/libros/editar/{id}(id=*{i.id})}">
                                            <i class="fas fa-edit mr-1"></i>Editar</a>
                                        <button class="button is-danger is-small btn-pre-eliminar" type="button"
                                                th:data-id-libro="${i.id}">
                                            <i class="fas fa-trash-alt mr-1"></i>Eliminar
                                        </button>


                                    </td>

                                </tr>
                                </tbody>
                            </table>


                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>
<div th:replace="/lectura/dialogo-libro/confirmar-eliminar-libro::elimnar"></div>

<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>
<script src="/js/modal.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/utilidades.js"></script>
<script src="/js/consultar-libros.js"></script>
<script src="/js/show-message-localStorage.js"></script>
</body>
</html>