<div class="modal" id="registro-lectura" xmlns:th="http://www.thymeleaf.org" th:fragment="registro-lectura">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <h4 class="modal-card-title title has-text-centered is-4">REGISTRO DE LECTURA </h4>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form id="form-modal-registro-lectura">
                <!-- el contenido de este form se carga con ajax -->
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button  is-danger" type="button"> <i class="fas fa-window-close mr-1"></i>Cerrar</button>
        </footer>
    </div>
</div>l>