<div class="modal" id="registro-lectura" xmlns:th="http://www.thymeleaf.org" th:fragment="registro-lectura">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <h4 class="modal-card-title title has-text-centered is-4">REGISTRO DE LECTURA </h4>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p class="subtitle is-5"> Alumno:</p>
            <p class="subtitle is-5"> Libro actual:</p>
            <hr class="dropdown-divider">
            <p class="subtitle is-5 ">Operaciones</p>
            <div class="columns">
                <div class="column is-9">

                    <div class="control">
                        <div class="select is-fullwidth ">
                            <select name="select" id="libro">
                                <option>Principito</option>
                                <option>Ladias</option>
                                <option>Juan playas</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column ">


                    <button class="button  is-info is-fullwidth  " type="submit"
                            id="">
                        Asignar libro
                    </button>

                </div>
            </div>
            <div class="columns">
                <div class="column is-5">

                    <div class="control">

                        <input class="input" type="number" placeholder="Avance lectura">

                    </div>
                </div>
                <div class="column ">

                    <button class="button  is-primary is-fullwidth " type="submit"
                            id="btn-aa">
                        Paginas leídas
                    </button>

                </div>
                <div class="column ">

                    <button class="button  is-danger is-fullwidth  " type="submit"
                            id="btn-bb">
                        Libro Terminado
                    </button>

                </div>
            </div>

            <hr class="dropdown-divider">

            <table class="table display" style="width:100%">
                <thead class="is-narrow">
                <tr>
                    <th>Fecha</th>
                    <th> Operación</th>
                    <th>Paginas leídas</th>
                    <th>Libro</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>20/07/2022</td>
                    <td>Avance lectura</td>
                    <td>10</td>
                    <td> El ojo del uracan</td>

                </tr>
                </tbody>
            </table>

        </section>
        <footer class="modal-card-foot">
            <button class="button  is-success" type="button" id="btn" onclick="">
                Guardar cambios
            </button>
            <button class="button  is-danger" type="button">Cerrar</button>
        </footer>
    </div>
</div>l>