<!-- MOdal -->
<div class="modal" id="modal-actividades" xmlns:th="http://www.thymeleaf.org" th:fragment="actividadad">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">

            <h4 class="modal-card-title title has-text-centered is-4">AGREGAR O EDITAR ACTIVIDADES</h4>
            <button class="delete" aria-label="close"></button>
        </header>

        <section class="modal-card-body">


            <!-- 1 columns y 2 rows -->
            <div class="columns">
                <div class="column">
                    <h5 class="subtitle is-5">Agregar actividades</h5>
                </div>
                <div class="column">
                    <button class="button is-primary is-fullwidth" type="button" id="btn-guardar-plan"><i
                            class="fas fa-save mr-1"></i>Guardar cambios
                    </button>
                </div>
            </div>

            <div class="columns">
                <div class="column is-12">
                    <label>Materia</label>
                    <div class="control">
                        <div class="select is-fullwidth is-small">
                            <select id="materia">
                                <option value="1">demo1</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-12">
                    <label>Descripción actividad</label>
                    <div class="control">
                        <input class="input is-small" type="text" id="actividad">
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-4">
                    <label>Valor</label>
                    <div class="control">
                        <input class="input is-small" type="number" id="punteo"
                               min="1" max="100">
                    </div>
                </div>

                <div class="column">
                    <br>
                    <div class="control">
                        <button class="button is-success is-small" type="button" id="btn-agregar-actividad">
                            <i class="fas fa-plus mr-1"></i>Agregar
                        </button>
                    </div>

                </div>
            </div>

            <hr class="dropdown-divider">

            <h5 class="subtitle is-5">Actividades</h5>

            <div class="table-container">

                <table class="table is-narrow is-striped is-fullwidth is-hoverable">
                    <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Descripción actividad</th>
                        <th>Valor</th>
                        <th>Operación</th>
                    </tr>
                    </thead>

                    <tbody id="tabla-actividades">
                    <tr>
                        <td colspan="4"><p class="has-text-danger has-text-centered">** Agregue
                            actividades
                            **</p></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </section>


        <footer class="modal-card-foot">
            <button class="button is-danger" value="Cancelar"><i class="fas fa-times"></i>Cancelar</button>
        </footer>
    </div>
</div>

