<div class="modal" id="modal-historial" xmlns:th="http://www.thymeleaf.org" th:fragment="historial">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <h4 class="modal-card-title title has-text-centered is-4">HISTORIAL ACTITUDINAL</h4>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

            <form id="form-consultar-historial">
                <div class="columns">
                    <div class="column is-2">
                        <label for="materias">Materia:</label>
                    </div>
                    <div class="column is-7">
                        <div class="select is-fullwidth is-small">
                            <input type="hidden" id="id-alumno" name="alumno">
                            <select id="materias" name="materia">
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <button class="button is-link is-small is-rounded" title="Consultar actitudinal"
                                type="submit" id="btn-consultar-historial">
                            <i class="fas fa-list mr-1"></i>Consultar
                        </button>
                    </div>
                </div>
            </form>

            <section class="section" id="msj-ayuda">
                <figure class="image is-64x64" style="margin: auto">
                    <img th:src="${'/img/undraw_No_data.png'}" alt="No hay datos">
                </figure>
                <p class="subtitle has-text-centered is-6">
                    Seleccione una materia y pulse <strong>Consultar</strong> para ver el historial actitudinal del
                    alumno
                </p>
            </section>

            <div id="container-historial">


            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button  is-danger" type="button"><i class="fas fa-window-close mr-1"></i>Cerrar</button>
        </footer>
    </div>
</div>