<!-- MOdal -->
<div class="modal" id="validar-expediente" xmlns:th="http://www.thymeleaf.org" th:fragment="validar-expediente">
    <div class="modal-background"></div>
    <form id="modal-checklist-expediente">
        <div class="modal-card">

            <header class="modal-card-head">
                <h4 class="modal-card-title title has-text-centered is-4">VALIDAR EXPEDIENTE </h4>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="columns" th:each="d: ${docmentos}">
                    <div class="column is-6" th:each="i: ${d}">
                        <label class="label" th:text="*{i.descripcion}"></label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" th:id="${i.id}" th:name="${i.id}" th:value="${1}">
                                Si
                            </label>
                            <label class="radio">
                                <input type="radio" th:id="${i.id}" th:name="${i.id}" th:value="${0}" checked>
                                NO
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="modal-card-foot">
                <button class="button  is-success" type="button">  <i class="far fa-save mr-1"></i>Aceptar</button>
                <button class="button  is-danger" type="button">  <i class="fas fa-undo mr-1"></i>Cancelar</button>
            </footer>

        </div>
    </form>
</div>