<script src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function () {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

    });

</script>

<script src="/js/bulma-toast.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#pageloader').fadeOut();
    });
</script>

