<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4"> CONDUCTA</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->

                        <form th:action="@{/conducta}" method="get">
                            <section class="section">
                                <div class="columns">
                                    <div class="column is-2 is-offset-2">
                                        <label for="grado-seccion">Grado y sección:</label>
                                    </div>
                                    <div class="column is-4">
                                        <div class="select is-small is-fullwidth">
                                            <select id="grado-seccion" name="gradoseccion">
                                                <option th:each="s: ${gradosSecciones}" th:value="${s.idSeccion}"
                                                        th:text="${s.descripcionGrado +' '+ s.descripcionSeccion}"
                                                        th:attrappend="selected=${seleccion eq s.idSeccion ? 'selected' : ''}">
                                                </option>
                                            </select>
                                            <p class="help is-info">** Grados y secciones que usted tiene asignadas</p>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <button class="button is-link is-small is-rounded" title="Consultar alumnos"
                                                type="submit">
                                            <i class="fas fa-list mr-1"></i>Listar alumnos
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </form>

                        <section class="section is-medium" th:if="${alumnos eq null}">
                            <figure class="image is-128x128" style="margin: auto">
                                <img th:src="${'/img/undraw_No_data.png'}" alt="No hay datos">
                            </figure>
                            <p class="subtitle has-text-centered">
                                Seleccione un grado y sección que imparte y luego presione el botón <strong>Listar
                                alumnos</strong>
                            </p>
                        </section>

                        <section class="section is-medium" th:if="${alumnos?.isEmpty()}">
                            <figure class="image is-128x128" style="margin: auto">
                                <img th:src="${'/img/undraw_No_data.png'}" alt="No hay datos">
                            </figure>
                            <p class="subtitle has-text-centered">
                                No hay alumnos registrados en el grado y sección seleccionado
                            </p>
                        </section>

                        <div th:if="${alumnos ne null and not alumnos.isEmpty()}" id="tbl-container">
                            <h5 class="title is-5 my-6">Control de conducta</h5>
                            <div class="table-container">
                                <table class="table display" style="width:100%" id="tbl-alumnos">
                                    <thead class="is-narrow">
                                    <tr>
                                        <th>ID</th>
                                        <th>Código</th>
                                        <th>Nombre completo</th>
                                        <th>Operaciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="a: ${alumnos}">
                                        <td th:text="*{a.id}"></td>
                                        <td th:text="*{a.codigo}"></td>
                                        <td th:text="*{a.nombre +' '+a.apellido}"></td>
                                        <td>
                                            <button class="button is-info is-small btn-historial" th:data-id="${a.id+','+a.idGrado}">
                                                <i class="fas fa-list-alt mr-1"></i>Historial
                                            </button>
                                            <button class="button is-success is-small btn-conducta" th:data-id="${a.id+','+a.idGrado}">
                                                <i class="fas fa-book-reader mr-1"></i>Conducta
                                            </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>

<div th:replace="alumno/dialogos-conducta/historial:: historial"></div>
<div th:replace="alumno/dialogos-conducta/calificar-conducta:: conducta"></div>

<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>
<script src="/js/modal.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/utilidades.js"></script>
<script src="/js/control-conducta.js"></script>

</body>
</html>