<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">Consultar Alumnos</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->


                        <form th:action="@{/alumno/consultar}" method="get">
                            <div class="columns">
                                <div class="column is-2 is-offset-2 has-text-right">
                                    <label>Grado y sección:</label>
                                </div>
                                <div class="column is-4">
                                    <div class="select is-small is-fullwidth">
                                        <select id="grado-seccion" name="gradoseccion">
                                            <option th:each="s: ${grados}" th:value="${s.idSeccion}"
                                                    th:text="${s.descripcionGrado +' '+ s.descripcionSeccion}"
                                                    th:attrappend="selected=${seleccion eq s.idSeccion ? 'selected' : ''}">
                                            </option>
                                            <option value="0"
                                                    th:attrappend="selected=${seleccion eq 0 or seleccion eq null? 'selected' : ''}">
                                                SIN ASIGNACIÓN
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="column">
                                    <button class="button is-info is-small" title="Consultar alumnos"
                                            type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>


                        <div th:if="${not alumnos.isEmpty()}" id="tbl-container">

                            <article class="message is-warning">
                                <div class="message-body">
                                    Hay alumnos con expediente incompleto.
                                </div>
                            </article>

                            <table id="tbl-alumnos" class="table display" style="width:100%">
                                <p class="subtitle is-5">Datos del alumno</p>
                                <thead class="is-narrow">
                                <tr>
                                    <th>ID</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Observación</th>
                                    <th>Expediente</th>
                                    <th>Grado</th>
                                    <th class="has-text-right">Opciones</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="a: ${alumnos}">
                                    <td th:text="${a.id}">#</td>
                                    <td th:text="${a.codigo}">demo</td>
                                    <td th:text="${a.nombre +' '+a.apellido}">demo</td>
                                    <td th:text="${a.observacionExpediente}">
                                        lorem ipsum dolor sit amet, consectet
                                    </td>
                                    <td>
                                        <span class="tag is-success">Completo</span>
                                        <span class="tag is-warning">Inpcompleto</span>
                                    </td>
                                    <td th:text="${a.descripcionGradoSeccion ne null ? a.descripcionGradoSeccion : '*NO ASIGNADO*'}">
                                    </td>
                                    <td class="has-text-right">
                                        <a th:href="@{/consultar-alumnos/editar-alumno}"
                                           class="button is-warning is-small">Visualizar</a>
                                        <a class="button is-danger is-small"> Eliminar</a>
                                        <a data-target="modal-expediente" onclick="verExpediente()"
                                           class="button is-info is-small">expediente</a>
                                        <a data-target="cambiar-grado" onclick="cambiarGradoAlumno()"
                                           class="button is-success is-small">Grado</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Aqui no se toca-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>

<!-- vista modal de expediente-->
<div th:replace="alumno/dialogos-consultar-alumno/expediente :: expediente-alumno"></div>

<div th:replace="alumno/dialogos-consultar-alumno/cambiar-grado:: cambiar-grado"></div>

<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

<!-- aqui va funciones para modales-->
<script src="/js/modal.js"></script>

<!-- datatables -->
<script type="text/javascript" src="/js/datatables.min.js"></script>

<script type="text/javascript">

    $('#tbl-alumnos').DataTable({
        lengthMenu: [5, 10, 25, 50],
        language: {
            lengthMenu: "Mostrar _MENU_ alumnos",
            search: "Buscar: _INPUT_",
            emptyTable: "No hay registros para mostrar",
            sZeroRecords: "No se encontron resultados",
            paginate: {
                previous: "Página anterior",
                next: "Página siguiente"
            },
            info: "Mostrando _START_ de _END_ de _TOTAL_ alumnos"
        }
    });


    function verExpediente() {

        //abrir modal
        openModal('modal-expediente');
    }

    function cambiarGradoAlumno() {

        openModal('modal-grado')
    }

</script>

</body>
</html>