<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">CONSULTAR ALUMNOS</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->


                        <form th:action="@{/alumno/consultar}" method="get">
                            <section class="section">
                                <div class="columns">
                                    <div class="column is-2 is-offset-2">
                                        <label>Grado y sección:</label>
                                    </div>
                                    <div class="column is-3">
                                        <div class="select is-small is-fullwidth">
                                            <select id="grado-seccion" name="gradoseccion">
                                                <option value=""
                                                        th:attrappend="selected=${seleccion eq null? 'selected' : ''}">
                                                    TODOS
                                                </option>
                                                <option th:each="s: ${grados}" th:value="${s.idSeccion}"
                                                        th:text="${s.descripcionGrado +' '+ s.descripcionSeccion}"
                                                        th:attrappend="selected=${seleccion eq s.idSeccion ? 'selected' : ''}">
                                                </option>
                                                <option value="0"
                                                        th:attrappend="selected=${seleccion eq 0 ? 'selected' : ''}">
                                                    SIN ASIGNACIÓN
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <button class="button is-link is-small is-rounded" title="Consultar alumnos"
                                                type="submit">
                                            Listar alumnos
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </form>

                        <section class="section is-medium" th:if="${alumnos ne null and alumnos.isEmpty()}">
                            <figure class="image is-128x128" style="margin: auto">
                                <img th:src="${'/img/undraw_No_data.png'}" alt="No hay datos">
                            </figure>
                            <p class="subtitle has-text-centered">
                                No se encontraron registros con los parámetros indicados.
                            </p>
                        </section>

                        <div th:if="${alumnos ne null and not alumnos.isEmpty()}" id="tbl-container">

                            <article class="message is-warning" th:if="${expedienteIncompleto ne 0}">
                                <div class="message-body">
                                    Hay <strong th:text="${expedienteIncompleto}"></strong> alumnos con expediente incompleto o no definido.
                                </div>
                            </article>

                            <table id="tbl-alumnos" class="table display" style="width:100%">
                                <h5 class="subtitle is-5 my-6">Datos del alumno</h5>
                                <thead class="is-narrow">
                                <tr>
                                    <th>ID</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Observación</th>
                                    <th>Expediente</th>
                                    <th>Grado</th>
                                    <th class="has-text-right">Opciones</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="a: ${alumnos}">
                                    <td th:text="*{a.id}">#</td>
                                    <td th:text="*{a.codigo}">demo</td>
                                    <td th:text="*{a.nombre +' '+a.apellido}">demo</td>
                                    <td th:text="*{a.observacionExpediente}">
                                        lorem ipsum dolor sit amet, consectet
                                    </td>
                                    <td>
                                        <span class="tag is-success"
                                              th:if="${a.estadoExpediente eq '1'}">Completo</span>
                                        <span class="tag is-warning"
                                              th:if="${a.estadoExpediente eq '0'}">Incompleto</span>
                                        <span class="tag is-dark"
                                              th:if="${a.estadoExpediente eq null}">No definido</span>
                                    </td>
                                    <td th:text="${a.descripcionGradoSeccion ne null ? a.descripcionGradoSeccion : '*NO ASIGNADO*'}">
                                    </td>
                                    <td class="has-text-right">
                                        <a th:href="@{/alumno/editar/{id}(id=*{a.id})}"
                                           class="button is-warning is-small">Visualizar</a>
                                        <a class="button is-danger is-small"
                                           th:onclick="preEliminarAlumno([[${a.id}]])">
                                            <input type="hidden" th:value="${2}">
                                            Eliminar
                                        </a>
                                        <a data-target="modal-expediente" onclick="verExpediente()"
                                           class="button is-info is-small">Expediente</a>
                                        <a data-target="cambiar-grado" th:onclick="cambiarGradoAlumno([[${a.id}]])"
                                           class="button is-success is-small">Grado</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Aqui no se toca-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>

<!-- vista modal de expediente-->
<div th:replace="alumno/dialogos-consultar-alumno/expediente :: expediente-alumno"></div>

<div th:replace="alumno/dialogos-consultar-alumno/cambiar-grado:: cambiar-grado"></div>

<div th:replace="alumno/dialogos-consultar-alumno/confirmacion:: confirmacion-eliminar"></div>

<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

<!-- aqui va funciones para modales-->
<script src="/js/modal.js"></script>

<!-- utilidades -->
<script src="/js/utilidades.js"></script>

<!-- datatables -->
<script type="text/javascript" src="/js/datatables.min.js"></script>

<script type="text/javascript" src="/js/consultar-alumnos.js"></script>

</body>
</html>