<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <!-- aqui no se toca -->
                        <form id="form-editar-alumno">
                            <h4 class="title has-text-centered is-4">EDITAR ALUMNO</h4>
                            <hr class="dropdown-divider">
                            <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                            <p class="subtitle is-5 has-text-danger">* indica un campo obligatorio</p>
                            <h5 class="subtitle is-5 my-6">Datos del alumno</h5>
                            <div class="columns">
                                <div class="column is-5 center">
                                    <label> *Código</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Código" id="codigo" required
                                               name="codigo" th:value="${alumnoEdit.codigo}">
                                        <input type="hidden" name="id" th:value="${alumnoEdit.id}">
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-5">
                                    <label> *Nombre</label>
                                    <div class="control">
                                        <input class="input " type="text" placeholder="Nombre" id="nombre" required
                                               name="nombre" th:value="${alumnoEdit.nombre}">
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <label> *Apellido</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Apellido" id="apellido" required
                                               name="apellido" th:value="${alumnoEdit.apellido}">
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-10 center">
                                    <label>Dirección</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Dirección" id="direccion"
                                               name="direccion" th:value="${alumnoEdit.direccion}">
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-5 ">
                                    <label> *Fecha Nacimiento</label>
                                    <div class="control has-text-info">
                                        <input class="input" type="date" placeholder="Fecha nacimieto" id="fechanac"
                                               required th:value="${alumnoEdit.nacimiento}" name="nacimiento">
                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-3 is-offset-3 ">
                                    <button class="button  is-success is-large is-fullwidth" type="submit"
                                            id="btn-submit">
                                        Guardar cambios
                                    </button>
                                </div>
                                <div class="column is-3 ">
                                    <a class="button  is-light is-large is-fullwidth" th:href="@{/alumno/consultar}">
                                        Consultar
                                    </a>
                                </div>
                            </div>

                        </form>
                        <!-- aqui no se toca -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>


<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

<!-- para validar formulario -->
<script src="/js/jquery.validate.min.js"></script>

<script src="/js/utilidades.js"></script>
<script type="text/javascript">

    // validar formulario y  enviar con AJAX
    $("#form-editar-alumno").validate({

        errorClass: 'is-danger',
        validClass: 'is-success',
        errorElement: 'p',
        messages: {
            codigo: {
                required: "Campo requerido.",
                maxlength: "Máxino 45 caracteres."
            },
            apellido: {
                required: "Campo requerido.",
                maxlength: "Máxino 150 caracteres."
            },
            nombre: {
                required: "Campo requerido.",
                maxlength: "Máxino 150 caracteres."
            },
            direccion: {
                required: "Campo requerido.",
                maxlength: "Máxino 150 caracteres."
            },
            nacimiento: "Campo requerido.",
            seccion: "Seleccione una opción.",
            grado: "Seleccione una opción."
        },
        rules: {
            codigo: {
                maxlength: 45
            },
            apellido: {
                maxlength: 150
            },
            nombre: {
                maxlength: 150
            },
            direccion: {
                maxlength: 150
            },
        },
        highlight: function (element, errorClass, validClass) {
            //cuando la validacion falla, por errorClass (is-danger)
            $(element).addClass(errorClass).removeClass(validClass);
            $("p.is-danger").addClass("help");// agregar clase help a mensajes de error
        },
        submitHandler: function (form) {

            // enviar form con AJAX
            let formJSON = formToJSON(form);
            submitFormAjax(formJSON);

        }
    });


    function submitFormAjax(formJSON) {

        //poner efecto carga boton submit
        loadingBtn("#btn-submit");

        $.ajax({
            type: "POST",
            url: "/alumno/actualizar",
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify(formJSON),
            success: function (response, textStatus) {
                notif({
                    msg: "¡Alumno " + response["nombre"] + " actualizado con éxito! ",
                    type: "success"
                });

                //reset form
                //resetForm('#form-editar-alumno');

                removeLoadingBtn("#btn-submit");

                //window.location.href = '/alumno/consultar';

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notif({
                    msg: "Error " + XMLHttpRequest.status + ", respuesta del servidor: " + XMLHttpRequest.responseText,
                    type: "error",
                    multiline: 1,
                });

                removeLoadingBtn("#btn-submit");
            }
        });

    }
</script>

</body>
</html>