<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <form id="form-nuevo-listado">


                            <h4 class="title has-text-centered is-4">NUEVA PLANTILLA ASISTENCIA</h4>
                            <hr class="dropdown-divider">

                            <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                            <article class="message is-info">
                                <div class="message-body">
                                    Crear esta <strong>plantilla</strong> le servirá para tomar asistencia, complete los
                                    campos que se le presentan a continuación y haga clic en el botón
                                    de <strong>Registrar</strong>.
                                </div>
                            </article>

                            <p class="subtitle is-5 has-text-danger">* indica un campo obligatorio</p>
                            <h5 class="title is-5 my-6">Datos del listado</h5>
                            <div class="columns">

                                <div class="column is-11">
                                    <label>Observación</label>
                                    <div class="control">
                                        <input class="input" type="text" name="observacion">
                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-3">
                                    <label>*Fecha</label>
                                    <div class="control">
                                        <input class="input" type="date" required name="fecha">
                                    </div>
                                </div>


                                <div class="column is-3">
                                    <label>*Tipo</label>
                                    <div class="control">
                                        <div class="select is-fullwidth ">
                                            <select name="tipo" required>
                                                <option value="1">ASISTENCIA</option>
                                                <option value="2">OTRO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-flex is-align-items-end">
                                    <button class="button is-link is-rounded" type="button" id="btn-modal-ayuda"
                                            title="ver leyenda">
                                        <i class="fas fa-question mr-1"></i>Ayuda
                                    </button>
                                </div>

                            </div>

                            <h5 class="title is-5 my-6">Asignación</h5>
                            <hr class="dropdown-divider">
                            <div class="columns">
                                <div class="column is-5 ">
                                    <label>*Grado</label>
                                    <div class="control">
                                        <div class="select is-medium is-fullwidth">
                                            <select name="grado" id="grado" required>
                                                <option disabled selected>- Seleccione -</option>
                                                <option th:each="g : ${grados}" th:value="${g.id}"
                                                        th:text="${g.descripcion}">Primero
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <label>*Sección</label>
                                    <div class="control">
                                        <div class="select is-medium is-fullwidth">
                                            <select name="idSeccion" id="seccion" required>
                                                <option disabled selected>- Seleccione -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="columns">
                                <div class="column is-3 is-offset-3 ">
                                    <button class="button  is-success is-large is-fullwidth" type="submit">
                                        <i class="far fa-save mr-1"></i>Registar
                                    </button>
                                </div>
                                <div class="column is-3 ">
                                    <a class="button  is-light is-large is-fullwidth" th:href="@{/asistencia}">
                                        <i class="fas fa-database mr-1"></i>Consultar
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- aqui va el footer-->
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>

<div th:replace="alumno/dialogos-nuevo-listado/modal-ayuda-tipo-listado::modal-ayuda-tipo-listado"></div>

<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/utilidades.js"></script>
<script src="/js/nuevo-listado-asistencia.js"></script>

</body>
</html>