<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>
    <div th:replace="layout/pageloader :: #pageloader"></div>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h4 class="title has-text-centered is-4">NUEVO  LISTADO</h4>
                        <hr class="dropdown-divider">

                        <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                        <h5 class="title is-5 my-6">Datos del listado</h5>
                        <div class="columns">

                            <div class="column is-11">
                                <label> Observación</label>
                                <div class="control">
                                    <input class="input" type="text" id="descripcion" required
                                           name="obser">
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-3">
                                <label> Fecha</label>
                                <div class="control">
                                    <input class="input" type="date" id="fecha" required
                                           name="obser">
                                </div>
                            </div>


                            <div class="column is-3">
                                <label>Tipo</label>
                                <div class="control">
                                    <div class="select is-fullwidth ">
                                        <select name="select" id="tipo" required>
                                            <option>Evento</option>
                                            <option>Limpieza</option>
                                            <option>Laboratorio</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column"><br>
                                <button class="button is-link  is-rounded"
                                        type="submit">
                                    <i class="fas fa-question mr-1"></i>
                                </button>
                            </div>

                        </div>

                        <h5 class="title is-5 my-6">Asignación</h5>
                        <hr class="dropdown-divider">
                        <div class="columns">
                            <div class="column is-5">
                                <label>Grado</label>
                                <div class="control">
                                    <div class="select is-fullwidth ">
                                        <select name="select" id="grado" required>
                                            <option>Primero</option>
                                            <option>Segundo</option>
                                            <option>Tercero</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="column is-5">
                                <label>Sección</label>
                                <div class="control">
                                    <div class="select is-fullwidth ">
                                        <select name="select" id="seccion" required>
                                            <option>A</option>
                                            <option>B</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="columns">
                            <div class="column is-3 is-offset-3 ">
                                <button class="button  is-success is-large is-fullwidth" type="submit"
                                        id="btn-submit"  >
                                    <i class="far fa-save mr-1"></i>Registar
                                </button>
                            </div>
                            <div class="column is-3 ">
                                <a class="button  is-light is-large is-fullwidth" type="button" >
                                    <i class="fas fa-database mr-1"></i>Consultar
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- aqui va el footer-->
                </div>
            </div>
        </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>


<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

</body>
</html>