<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>

    <!-- aqui va el nav -->
    <nav th:replace="layout/nav :: nav"></nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <!-- AQUI ARRIBA NO SE TOCA  -->

                        <form id="form-nuevo-alumno">

                            <h4 class="title has-text-centered is-4">Registrar Alumnos</h4>
                            <hr class="dropdown-divider">
                            <!-- AQUI VA EL CONTENIDO DE CAMBIA -->
                            <p class="subtitle is-5 has-text-danger">* indica un campo obligatorio</p>
                            <p class="subtitle is-5">Datos del alumno</p>
                            <div class="columns">
                                <div class="column is-5 center">
                                    <label> *Código</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Código" id="codigo" required name="codigo">
                                    </div>
                                </div>
                                <div class="column is-offset-2 is-3 right">
                                    <label>Validación de expediente</label>
                                    <div class="control">
                                        <p class="control">
                                            <a class="button is-primary is-medium is-fullwidth">
                                                Validar
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-5">
                                    <label> *Nombre</label>
                                    <div class="control">
                                        <input class="input " type="text" placeholder="Nombre" id="nombre" required name="nombre">
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <label> *Apellido</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Apellido" id="apellido" required name="apellido">
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-10 center">
                                    <label>Dirección</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Dirección" id="direccion" name="direccion">
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-5 ">
                                    <label> *Fecha Nacimiento</label>
                                    <div class="control has-text-info">
                                        <input class="input" type="date" placeholder="Fecha nacimieto" id="fechanac"
                                               required name="nacimiento">
                                    </div>
                                </div>
                            </div>
                            <!-- aqui ba la seguna-->
                            <hr class="dropdown-divider">
                            <p class="subtitle is-5">Asignacion de grado y seccion</p>
                            <div class="columns">
                                <div class="column is-5 ">
                                    <label> *Grado</label>
                                    <div class="control">
                                        <div class="select is-medium is-fullwidth">
                                            <select name="grado" id="grado" required>
                                                <option disabled selected>- Seleccione -</option>
                                                <option th:each="g : ${grados}" th:value="${g.id}" th:text="${g.descripcion}">Primero</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <label> *Sección</label>
                                    <div class="control">
                                        <div class="select is-medium is-fullwidth">
                                            <select name="seccion" id="seccion" required>
                                                <option disabled selected>- Seleccione -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-3 is-offset-3 ">
                                    <button class="button  is-success is-large is-fullwidth" type="submit" id="btn-submit">
                                        Registrar
                                    </button>
                                </div>
                                <div class="column is-3 ">
                                    <button class="button  is-light is-large is-fullwidth" type="button">Regresar
                                    </button>
                                </div>
                            </div>

                        </form>

                        <!-- AQUI ABAJONO SE TOCA -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- aqui va el footer-->
    <footer th:replace="layout/footer :: footer"></footer>

</main>


<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

<!-- para validar formulario -->
<script src="/js/jquery.validate.min.js"></script>

<!-- registro del alumno -->
<script src="/js/utilidades.js"></script>
<script src="/js/registrar-alumno.js"></script>

</body>
</html>