<div class="modal" id="modal-ciclos" xmlns:th="http://www.thymeleaf.org" th:fragment="ciclo-anterior">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <h4 class="modal-card-title title has-text-centered is-4">HISTORIAL CICLOS</h4>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body" id="container-tbl-ciclos">

        </section>
        <footer class="modal-card-foot ">
            <button class="button  is-danger"><i class="fas fa-window-close mr-1"></i>
                Cerrar
            </button>
        </footer>
    </div>
</div>