<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top"
      style="background: url('/img/img1.jpg') no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;
-o-background-size: cover;background-size: cover;"
>


<!-- aqui va el head -->
<head th:replace="layout/head :: head">

</head>

<body>

<main>

    <div class="columns is-centered">

        <div class="colum is-6">

            <form th:action="@{/login}" method="post" class="box">

                <h4 class="title has-text-centered is-3">Login</h4>
                <figure class="image mt-4" style="margin: auto; width: 70%">
                    <img th:src="${'/img/logo.png'}">
                </figure>

                <article class="message is-danger" th:if="${param.error}">
                    <div class="message-body">
                        Usuario o contraseña inválido.
                    </div>
                </article>

                <article class="message is-info" th:if="${param.logout}">
                    <div class="message-body">
                        Sesión cerrada correctamente.
                    </div>
                </article>

                <div class="field">
                    <label class="label">
                        Usuario
                    </label>
                    <div class="control has-icons-left">
                        <input type="text" class="input" placeholder="usuario" name="username">
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">
                        Contraseña
                    </label>
                    <div class="control has-icons-left">
                        <input type="password" class="input" placeholder="contraseña" name="password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-12 ">
                        <input class="button  is-success  is-fullwidth " type="submit" value="Entrar">
                        <p class="help has-text-centered">Software Control Notas v1.0.0</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

</main>

<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>

</body>
</html>