<!-- MOdal -->
<div class="modal" id="aperturar-bimestre" xmlns:th="http://www.thymeleaf.org" th:fragment="aperturar-bimestre">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">

            <h4 class="modal-card-title title has-text-centered is-4">APERTURAR BIMESTRE</h4>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form id="form-apertura-bimestre">
            </form>
        </section>
        <footer class="modal-card-foot ">
            <button class="button  is-danger"><i class="fas fa-window-close mr-1"></i> Cancelar
            </button>
        </footer>
    </div>
</div>